/* Global */

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.center{
  text-align: center;
}

/* Global Forms */

.inlineForm {
  display: grid;
  grid-template-columns: 2fr 0.25fr 1fr;
  grid-template-areas: 'input . button';
  align-self: center;
}

.inlineFormInput{
  grid-area: 'input';
  height: 35px;
}

.inlineFormButton {
  grid-area: 'button';
}

/* Nav */

nav {
  background-color: white; 
  box-shadow: 1px 1px 3px darkslategrey;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
}

nav a {
  color: #3f4a56;
}

/* Home */

#home {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 4fr 1fr;
  margin-bottom: 100px;
}

.home-text {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.home-subtext {
  font-size: 20px;
}

/* Leaderboard */

#leaderboard {
  margin-bottom: 25px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.leaderboard-title {
  grid-column: 2;
  margin-top: 20px;
  font-size: 60px;
}

.leaderboard-subtext {
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 45px;
  font-size: 25px;
}

.leaderboard-table {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-rows: auto;
  text-align: left;
}

.leaderboard-header {
  background: #00a5ea;
  color: white;
}

.leaderboard-line {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-column: span 4;
  border: 1px solid black;
}

.leaderboard-number {
  grid-column: 1;
  justify-self: center;
}

.leaderboard-name {
  grid-column: 2;
  justify-self: center;
}

.leaderboard-tickets {
  grid-column: 3;
  justify-self: center;
}

/* Advisor */

#advisors {
  display: grid;
  text-align: center;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 25% 70% 5%;
}

#advisors a {
  color: black;
}

.advisorTitle {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 70% 10% 15%;
  grid-column: 2;
  font-size: 60px;
}

.allAdvisors{
  grid-column: 2;
  grid-row: 1;
}

.advisorHR {
  grid-column: 2;
  grid-row: 2;
  width: 220px;
  color:  darkslategray;
}

.advisorsForm {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

.advisorsButtons {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
}

.advisorItem {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  padding: 20px 10px;
  background-color: #efefef;
  border-radius: 5px;
  box-shadow: 1px 1px 10px darkslategray;
}

.advisorLink {
  grid-column: 2;
  grid-row: 1;
  font-size: 40px;
  color: black;
}

.advisorTickets {
  grid-column: 2;
  grid-row: 3;
}

.numTickets {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}

.advisorButtons {
  grid-column: 2;
  grid-row: 5;
}

.advisorList {
  grid-column: 2;
  display: grid;
  padding-bottom: 20px;
  grid-row-gap: 10px;
}

.advisorForm {
  grid-column: 2;
  grid-row: 4;
  justify-self: center;
}

/* Tickets */

/* Log in / Sign up */

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 120px;
}

.loginTitle{
  margin-bottom: 20px;
  padding-top: 80px;
}

.loginInput {
  width: 380px;
  margin-bottom: 20px;
}

.loginButton {
  width: 25%;
  margin-top: 20px;
}

.loginHR {
  width: 30%;
}

